#environment variables
.env
.env.test
.env.development

#node_modules
/node_modules

#tests
/tests

#eslint
.eslintignore
.eslintrc.json

#prettier
.prettierrc.json

#husky
.husky

#babel
.babelrc.json